<!-- The Main White Box -->
<div class="main_txt">
	<h1>Shelter  Website</h1> 
	<hr />
	<h1> You have successfully adopted <em><%= $curr_pet.name %></em>  from <%= $curr_shelter.name %></em></h1>
	<hr />
	<%= params %>
</div>
