
<!-- The Main White Box -->
<div class="main_txt">
	<h1>Shelter  Website</h1> 
	<hr />
	<table width="100%">
		<thead>
			<tr>
				<td> <h1>Pets - View </h1></td>
				<td> <h1>Adopt </h1></td>
			</tr>
		</thead>
		<tr>
			<td>
				<% $curr_user.pets.each do |k, pet| %>
					<form method="get" action="Users_Give_away" />
						<input type="radio" group="pet_name" name="pet_name" value="<%=pet.name%>" <h2><%= pet.name  %></h2></input>
						<ul>
							<% pet.toys.each do |toy| %>
								<li> <%= toy %></li>
							<% end %>
						</ul>
						<button>Give Away</button>
					</form>
				<% end %>
			</td>
			<td>
				<form action="/Users/shelter_list" method="get">
					<button> Submit </button>
				</form>
			</td>
		</tr>
	</table>
</div>
